
.feed-container {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 30px;
  padding-bottom: 50px;
}


.feed-title {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  color: #262626;
  margin-bottom: 20px;
  font-weight: 600;
}


.feed-posts {
  width: 100%;
  max-width: 470px; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
}