
.navbar {
  background-color: #ffffff;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #f0f0f0;
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
  cursor: pointer;

  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Segoe UI', sans-serif;
}


.btn-logout {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(255, 71, 87, 0.3);
}

.btn-logout:hover {
  background-color: #e84118;
  transform: translateY(-1px);
}

/* Login Text */
.login-text {
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.login-text:hover {
  color: #0077c5;
}


.btn-create {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
  margin-right: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.2s;
}

.btn-create:hover {
  background-color: #efefef;
}